@use 'src/themes' as *;

#laliste {
  max-height: 300px;
  overflow-y: auto;
  background-color: nb-theme(color-basic-800);
}

nb-list-item:hover {
  background-color: nb-theme(color-basic-900);
  cursor: pointer;

}

#searchBar {
  position: absolute;
  margin-bottom: 2rem;
}
