<div id="searchBar" (mouseenter)="onFocus()" (mouseleave)="onBlur()">
    <input type="text" nbInput fullWidth fieldSize="medium" #searchBox (focus)="onFocus('input')" (onblur)="onBlur('input')" (keyup)="search(searchBox.value)" placeholder="Search characters"  >
    <div id="laliste">
        <nb-list *ngIf="charachters.length !== 0 && (searchFocus || searchFocusInput) ">
            <nb-list-item *ngFor="let charac of charachters " (click)="goToDetail(charac)">
                {{charac}}
            </nb-list-item>
        </nb-list>
    </div>
</div>
