<nb-card accent="info">
  <nb-card-body>
    <div class="item-rank-header">
      <img [src]="choicedRankMat.url" class="item-image">
      <p>{{choicedRankMat.name}}</p>
    </div>
    <label [for]="choicedRankMat.name">
      <div class="over">
        <div class=" item-counter">
          <div class="item-counter_styled">
            <input [value]="choicedRankMat.qteUser" [id]='choicedRankMat.name' type="number" nbInput placeholder="0" (keyup)="handler($event, i)">
            <p class="underline">/ {{choicedRankMat.qte}}</p>
          </div>
        </div>

        <div *ngIf="convertFocus" [@child] class="machin">
          <div *ngFor="let mat of choicedRankMat.previous">

            <div class="item-rank-header">
              <img [src]="mat.url" class="item-image-little">
              <p>{{mat.name}}</p>
            </div>
            <div class="item-counter">
              <div class="item-counter_styled">
                <input type="number" nbInput placeholder="0" [value]="mat.qteUser" [id]='mat.name' (keyup)="handler2($event, mat,choicedRankMat)">
                <p> {{mat.qte}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </label>
  </nb-card-body>
</nb-card>
