<app-search-bar></app-search-bar>
<p>{{character}}</p>


<nb-card accent="info">
    <nb-card-header class="noPad">
        <p class="noPad title"> One Rank </p>
    </nb-card-header>
    <nb-card-body>
        <div class="headerElevation">

            <nb-select placeholder="Select a rank" [(selected)]="selectedOption">
                <nb-option [value]="'none'" (selectionChange)="wichRank('none')">
                    none
                </nb-option>
                <nb-option *ngFor=" let elev of elevation" [value]="elev.rank" (selectionChange)="wichRank(elev.rank-1)">
                    Rank : {{elev.rank}}
                </nb-option>

            </nb-select>
            <p *ngIf="choicedRank !== undefined"> LEVEL REQUIRED : {{choicedRank.lvl}}</p>
            <p *ngIf="choicedRank !== undefined"> MORAS REQUIRED: {{morasForm(choicedRank.cost)}}</p>
        </div>

        <div class="elevation1" *ngIf="choicedRank !== undefined && choicedRank !== null">

            <nb-card accent="info" *ngFor="let i of nbMat" class="item">
                <nb-card-header>
                    <div class="itemRankHeader">
                        <img [src]="choicedRankMat[i].url" class="imageItem">
                        <p>{{choicedRankMat[i].name}}</p>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <label [for]="choicedRankMat[i].name">
                        <div class="counter">
                            <div class="styledCounter">
                                <input [id]='choicedRankMat[i].name' type="number" nbInput placeholder="0"><!-- [max]="choicedRankMat[i].qte" -->
                                <p>/ {{choicedRankMat[i].qte}}</p>
                            </div>
                        </div>
                    </label>
                </nb-card-body>
            </nb-card>
        </div>

    </nb-card-body>
</nb-card>


<nb-card accent="info">
    <nb-card-header class="noPad">
        <p class="noPad title"> From to </p>
    </nb-card-header>
    <nb-card-body>
        <div class="headerElevation">

            <nb-select placeholder="Select a rank" [(selected)]="selectedOptionFrom">
                <nb-option [value]="'none'" (selectionChange)="wichRank('none')">
                    none
                </nb-option>
                <nb-option *ngFor=" let elev of elevation" [value]="elev.rank" (selectionChange)="wichRank(elev.rank-1,'from')">
                    Rank : {{elev.rank}}
                </nb-option>

            </nb-select>
            <nb-select placeholder="Select a rank" [(selected)]="selectedOptionTo" (selectionChange)="wichRank('none')">
                <nb-option [value]="'none'">
                    none
                </nb-option>
                <nb-option *ngFor=" let elev of elevation" [value]="elev.rank" (selectionChange)="wichRank(elev.rank-1,'to')">
                    Rank : {{elev.rank}}
                </nb-option>

            </nb-select>
            <p *ngIf="choicedRankFrom !== undefined && choicedRankTo !== undefined"> LEVEL REQUIRED : {{choicedRankFromTo}}</p>
            <p *ngIf="choicedRankFrom !== undefined && choicedRankTo !== undefined"> MORAS REQUIRED: {{choicedRankFromTo}}</p>
        </div>
        <!-- 
        <div class="elevation1" *ngIf="choicedRank !== undefined && choicedRank !== null">

            <nb-card accent="info" *ngFor="let i of nbMat" class="item">
                <nb-card-header>
                    <div class="itemRankHeader">
                        <img [src]="choicedRankMat[i].url" class="imageItem">
                        <p>{{choicedRankMat[i].name}}</p>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <label [for]="choicedRankMat[i].name">
                        <div class="counter">
                            <div class="styledCounter">
                                <input [id]='choicedRankMat[i].name' type="number" nbInput placeholder="0"><!-- [max]="choicedRankMat[i].qte" 
        <p>/ {{choicedRankMat[i].qte}}</p>
        </div>
        </div>
        </label>
    </nb-card-body>
</nb-card>
</div> -->

    </nb-card-body>
</nb-card>