<app-search-bar></app-search-bar>
<div id="monTruc">

  <p>{{character}}</p>


  <nb-card accent="info">
    <nb-card-header class="noPad">
      <p class="noPad title"> One Rank </p>
    </nb-card-header>
    <nb-card-body>
      <div class="headerElevation">

        <nb-select placeholder="Select a rank" [(selected)]="selectedOption">
          <nb-option [value]="-1" (selectionChange)="wichRank('-1')">
            none
          </nb-option>
          <nb-option *ngFor="let elev of elevation" [value]="elev.rank" (selectionChange)="wichRank(elev.rank)">
            Rank : {{elev.rank}}
          </nb-option>
        </nb-select>

        <p *ngIf="choicedRank !== undefined"> LEVEL REQUIRED : {{choicedRank.lvl}}</p>
        <p *ngIf="choicedRank !== undefined"> MORAS REQUIRED: {{morasForm(choicedRank.cost)}}</p>
      </div>

      <div class="elevation1" *ngIf="choicedRank !== undefined && choicedRank !== null && selectedOption !== '-1'">
        <!-- -->
        <div *ngFor="let i of nbMat" class="item" (mouseenter)="onFocus(i,choicedRankMat[i])" (mouseleave)="onFocus(i,choicedRankMat[i])">
          <div [@openClose]="convertFocus[i]? 'open' : 'closed'">
            <!--   -->
            <nb-card accent="info">
              <nb-card-body>
                <div class="item-rank-header">
                  <img [src]="choicedRankMat[i].url" class="item-image">
                  <p>{{choicedRankMat[i].name}}</p>
                </div>
                <label [for]="choicedRankMat[i].name">
                  <div class="over">
                    <div class=" item-counter">
                      <div class="item-counter_styled">
                        <input [value]="choicedRankMat[i].qteUser" [id]='choicedRankMat[i].name' type="number" nbInput placeholder="0" (keyup)="handler($event, i)">
                        <p>/ {{choicedRankMat[i].qte}}</p>
                      </div>
                    </div>

                    <div *ngIf="convertFocus[i]" [@child] class="machin">
                      <div *ngFor="let mat of choicedRankMat[i].previous">

                        <div class="item-rank-header">
                          <img [src]="mat.url" class="item-image-little">
                          <p>{{mat.name}}</p>
                        </div>
                        <div class="item-counter">
                          <div class="item-counter_styled">
                            <input type="number" nbInput placeholder="0" [value]="mat.qteUser" [id]='mat.name' (keyup)="handler2($event, mat,choicedRankMat[i])">
                            <p>/ {{mat.qte}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </label>
              </nb-card-body>
            </nb-card>
          </div>


        </div>
      </div>

    </nb-card-body>
  </nb-card>

  <nb-card accent="info">
    <nb-card-header class="noPad">
      <p class="noPad title"> From to </p>
    </nb-card-header>
    <nb-card-body>
      <div class="headerElevation">

        <nb-select placeholder="Select a rank" [(selected)]="selectedOptionFrom">
          <nb-option [value]="-1" (selectionChange)="wichRank('-1', 'from')">
            none
          </nb-option>
          <nb-option *ngFor=" let elev of elevation" [value]="elev.rank" (selectionChange)="wichRank(elev.rank ,'from')">
            Rank : {{elev.rank}}
          </nb-option>
        </nb-select>


        <nb-select placeholder="Select a rank" [(selected)]="selectedOptionTo">
          <nb-option [value]="-1" (selectionChange)="wichRank('-1', 'to')">
            none
          </nb-option>
          <nb-option *ngFor=" let elev of elevation" [value]="elev.rank" (selectionChange)="wichRank(elev.rank,'to')">
            Rank : {{elev.rank}}
          </nb-option>
        </nb-select>


        <p *ngIf="choicedRankFromToObject.rank !== ''"> MORAS REQUIRED: {{morasForm(this.choicedRankFromToObject.cost)}}</p>
      </div>

      <div class="elevation1" *ngIf="choicedRankFromToObject.rank !== ''">

        <nb-card accent="info" *ngFor="let i of NBchoicedRankFromToMatList" class="item">
          <nb-card-header>
            <div class="item-rank-header">
              <img [src]="choicedRankFromToMatList[i].url" class="item-image">
              <p>{{choicedRankFromToMatList[i].name}}</p>
            </div>
          </nb-card-header>
          <nb-card-body>
            <label [for]="choicedRankFromToMatList[i].name">
              <div class="item-counter">
                <div class="item-counter_styled">
                  <input [id]='choicedRankFromToMatList[i].name' type="number" nbInput placeholder="0"><!-- [max]="choicedRankMat[i].qte"  -->
                  <p>/ {{choicedRankFromToMatList[i].qte}}</p>
                </div>
              </div>
            </label>
          </nb-card-body>
        </nb-card>
      </div>

    </nb-card-body>
  </nb-card>
</div>
