<nb-card *ngIf="material.name !== 'none'" class=" drop-shadow-lg cursor-pointer w-full">
  <nb-card-body class="flex flex-col justify-center items-center">
    <img [alt]="'image de l`item : ' + material.name " [src]="material.url" class="h-52 select-none"/>
    <h2>{{material.name}}</h2>
    <div class="flex justify-center items-center userInput">
      <input #qte nbInput type="number" value="" placeholder="0" class="qteUser " (keyup)="onChangeQteUser(qte.value)">
      <p class="text-lg"> / {{material.qte}}</p>
    </div>
  </nb-card-body>
</nb-card>
