<div *ngIf="(showCharacter && converter.mat1.length !== 0 )|| (showAscencion && converter.mat2.length !== 0)" class="ml-1 mb-8">
  <h1 class="text-xl">Converter</h1>

  <div *ngIf="showCharacter && converter.mat1.length !== 0" class="flex flex-col sm:flex-row">
    <div *ngFor="let item of converter.mat1; let i = index" class="flex mr-4">
      <div class="maxW">
        <app-item-card (qteUser)="onChangeQteUser($event, i, true)" [isConverter]="true" [isLastConverter]="i === converter.mat1.length-1" [material]="item" class="maxW"></app-item-card>
      </div>
    </div>
  </div>

  <div *ngIf="showAscencion && converter.mat2.length !== 0" class="flex flex-col sm:flex-row">
    <div *ngFor="let item of converter.mat2; let i = index" class="flex mr-4">
      <div>
        <app-item-card (qteUser)="onChangeQteUser($event,i, false)" [isConverter]="true" [isLastConverter]="i === converter.mat2.length-1" [material]="item" class="maxW"></app-item-card>
      </div>
    </div>
  </div>
</div>
