@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;


@include nb-install() {
  @include nb-theme-global();
}


html::-webkit-scrollbar {
  display: none;

}

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.myShadow {
  box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.46);
}

body {

  //background: -webkit-radial-gradient(50% 50%, circle, rgba(175,225,255,1) 0, rgba(43,116,165,1) 27%, rgba(5,57,91,1) 100%);
  //background: -webkit-radial-gradient(50% 50%, rgba(175,225,255,1) 0, rgba(43,116,165,1)0, rgba(5,57,91,1) 100%);
  transition: background-image 1s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
}

.backBody {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.anemo {
  background-image: linear-gradient(to right top, #f3fffd, #f3fffd, #f3fffd, #f3fffd, #f3fffd, #e7f9f6, #dcf3ee, #d0ede7, #b7e0d6, #9ed3c4, #86c5b2, #6eb89f);
}

.electro {
  background-image: linear-gradient(to right top, #f7f3ff, #f7f3ff, #f7f3ff, #f7f3ff, #f7f3ff, #e9e3f6, #dcd3ee, #cfc3e5, #b2a0d2, #967fbe, #7a5eaa, #5e3e96);
}

.geo {
  background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fbf8ff, #fbf0fd, #fde8f8, #ffd5e2, #ffc4be, #feba93, #deb76c);
}

.dendro {
  background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f5f7fd, #e8effb, #d8e9f8, #addde9, #88d0c9, #7fc099, #8faa65);
}

.cryo {
  background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f7f6fa, #eeeef6, #e4e6f2, #ccd5e8, #b0c5de, #92b5d3, #6fa7c6); // Blue
}

.hydro {
  background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f4f3fc, #e9e8f8, #ddddf5, #bfc6ee, #9bb0e8, #6f9ce1, #2389da);
}

.pyro {
  background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f4effd, #eedef7, #ecccef, #f0a0cf, #f36f9b, #e93c58, #cb0300);
}

/* You can add global styles to this file, and also import other style files */

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0 0;
  }
}

body:hover {
  box-shadow: 0 0 20px #fff;
}
