@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/cosmic';

$nb-themes: nb-register-theme((
  //! Header,
  header-background-color: rgba(0,0,0,0),
  header-shadow : none,
  header-padding : 2rem 0.5rem,
  //! Footer
  footer-background-color:color-basic-200,
  footer-text-color : #000000,
  //! Option
  option-selected-hover-background-color:color-basic-800,
  option-selected-background-color:color-basic-800,
  //! Background
  background-basic-color-1 : color-basic-800,
  background-basic-color-2: color-basic-800, // bar et tout
  background-basic-color-3: color-basic-1000, // fond
  background-basic-color-4: color-basic-200,
  card-background-color : color-basic-800,
  //! Input
  input-basic-border-color : color-basic-900,
  input-basic-hover-background-color : color-basic-800,
  //! Border
  border-basic-color-4 :color-basic-900,
  //! Color
  color-primary-default :color-basic-800,
  color-basic-100: #000000,
  color-basic-200: #DEB76C,
  color-basic-300: #e8f5fa,
  color-basic-400: #d6e6f2,
  color-basic-500: #c7dbeb,
  color-basic-600: #000000, // input font !!! a ne pas changer (fin tu peux mettre en noir)
  //color-basic-700: #357E74,
  color-basic-800: #FFFFFF, // input aussi
  color-basic-900: rgba(255, 255, 255, 0),
  //color-basic-1000: #358BA6,
  color-basic-1000:  rgba(0,0,0,0),
), cosmic, cosmic);
